<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar }}
    <div style="display: grid;grid-template-columns:repeat(2,1fr);align-items:center;justify-content:center">
        <div>
            <h1>Hello, {{nombre }} | This is ReactJS!</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque alias, nobis architecto, laudantium
                iste sed perferendis excepturi sequi ut quia consequatur vitae id maxime totam molestiae autem enim
                iusto atque.</p>
        </div>
        <div>
            <img src="assets/img/react-galaxia.png" alt="ReactJS" style="width:700px;height:300px" />
        </div>
    </div>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>