<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar }}
    <div style="display: flex;flex-direction:column; align-items:center;margin-top:10rem;">
        <h1>Hello World HBS - {{capitalizar nombre}}</h1>
        <h2>Franco Fuentes - {{getAnio}}</h2>
    </div>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>